main{
	background-color: red;
	overflow: hidden;
}

.product-image{
	width: 70%;
	max-width: 70%;
}

fieldset{
	border: none!important;
}
.ingredients-list{
	text-align: center;
}
.ingredients-list li{
	padding: 10px;
}
section{

	position: fixed;
}